config/database.yml
config/initializers/radio.rb
public/files/*
private/*

.bundle
coverage
vendor/cache
db/*.sqlite3
log/*.log
tmp/**/*
public/system
public/uploads
public/stylesheets/*
public/javascripts/*
config/database.yml
