config/database.yml
config/exceptional.yml
config/fargo.yml
config/radio.yml
vendor/plugins/fargo/asami
public/files/*
private/*

.bundle
coverage
vendor/cache
db/*.sqlite3
log/*.log
tmp/**/*
public/system
public/uploads
public/stylesheets/*
public/javascripts/*
config/database.yml
