<li class='artist' data-id='<%= artist.id %>'>
  <%= link_to artist.name, artist, :class => 'content' %>

  <% if can? :update, artist %>
    <%= link_to '[edit]', [:edit, artist], :class => 'links', :remote => true %>
  <% end %>
</li>
