<%= form_for @artist, :remote => true do |f| %>
  <div>
    <%= f.text_field :name %>
    <%= f.submit 'Submit', :disable_with => 'Sending' %>
    <%= link_to '[cancel]', @artist, :remote => true %>
  </div>
<% end %>
