<ul class='alphabet pagination'>
	<li><%= link_to 'All', artists_path %>
	<% ('A'..'Z').each do |letter| %>
		<li><%= link_to letter, artists_path + '?' + {:letter => letter}.to_query %></li>
	<% end %>
</ul>

<% paginated_section @artists do %>
	<ul>
		<% @artists.each do |artist| %>
			<li><%= link_to artist.name, artist %></li>
		<% end %>
	</ul>
<% end %>
