<%= render 'alphabet', :url => artists_path %>

<%= paginate @artists %>
<div style='overflow:auto'>
  <% @artists.halves.each do |arr| %>
    <ul class='column block'><%= render arr %></ul>
  <% end %>
</div>
<%= paginate @artists %>
