<%= render 'alphabet', :url => artists_path %>

<%= paginate @artists %>
<% left = (right = @artists.dup).slice!(0, (@artists.size / 2.0).ceil) %>
<div style='overflow:auto'>
  <% [left, right].each do |arr| %>
    <ul class='column block'><%= render arr %></ul>
  <% end %>
</div>
<%= paginate @artists %>
