<ul class='alphabet pagination'>
	<li><%= link_to 'All', artists_path %>
	<% ('A'..'Z').each do |letter| %>
		<li><%= link_to letter, artists_path + '?' + {:letter => letter}.to_query %></li>
	<% end %>
</ul>

<%= paginated_section @artists do %>
	<% left = (right = @artists.dup).slice!(0, (@artists.size / 2.0).ceil) %>
	<div style='overflow:auto'>
		<% [left, right].each do |arr| %>
			<ul class='column block'><%= render arr %></ul>
		<% end %>
	</div>
<% end %>
