<p>
  Your account with <strong>Cohort Radio</strong> has been revoked of its confirmation status. <br /> An administrator has
  performed this action in response to your actions. If you believe this is a mistake, please contact them to correct
  this error.
</p>
<p>
  You will receive an email once your account has been confirmed again.
</p>
