<% downloads.each_pair do |nick, nick_downloads| %>
	<% next if nick_downloads.size == 0 %>
	<fieldset>
		<legend><%= nick %></legend>
		<table>
			<tr>
				<th>File</th>
				<th>Size</th>
			</tr>
			<% nick_downloads.each do |download| %>
				<tr>
					<td>
						<%= link_to "[retry]", :controller => 'fargo/downloads', :action => 'retry', :file => download.file, :nick => nick if defined?(failed) %>
						<%= truncate(download.file.reverse, 60).reverse %>
					</td>
					<td><%= number_to_human_size download.size %></td>
				</tr>
			<% end %>
		</table>
	</fieldset>
<% end %>
