body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
/*  padding: 20px 40px;*/
  border: solid 1px black;
  margin-top: 20px;
  overflow: auto;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

pre {
  background: #ccc;
  font-size: 80%;
  border: 1px solid black;
}

.song {
  width: 100%;
  overflow: auto;
  border: 3px solid #ccc;
  -webkit-border-radius: 20px;
  -mozilla-border-radius: 20px;
}

.song div {
  float: left;
  margin: 10px;
}

.search {
  overflow: auto;
}

.search div {
  float: left;
}
.search form div {
  float: right;
}
.search input[type=text] {
  font-size: 150%;
  width: 300px;
}

input[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
  padding: 0 8px;
  border: 1px solid #999;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background: -moz-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  font-size: 150%;
  height: 30px;
  margin: 0.5em;
}

input[type=submit]:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ddd));
  background: -moz-gradient(linear, left top, left bottom, from(#ccc), to(#ddd));
}

#search fieldset {
  overflow: auto;
  border: 5px solid #ccc;
  -webkit-border-radius: 20px;
  -mozilla-border-radius: 20px;
}

#search fieldset .nick {
  width: 100px;
  padding-right: 10px;
}

#search .size {
  font-weight: bold;
  width: 100px;
}

#search input[type=submit] {
  font-size: 100%;
  margin: 0 10px 0 0;
  height: 20px;
}

#search .submit {
  width: 90px;
  text-align: center;
}

#search fieldset div {
  float: left;
}

#container {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

footer {
  text-align: center;
  height: 20px;
  padding: 10px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
}

section#content {
  margin: 20px;
}

header {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#FFFCFD), color-stop(0,#ccc),color-stop(.7,#CCCCCC));
  overflow: auto;
  height: 40px;
  padding: 0 10px 0 0;
}

.login {
  overflow: auto;
  border: 3px solid #ccc;
  -webkit-border-radius: 20px;
  width: 500px;
  margin: 0 auto;
}

.login input[type=submit] {
  font-size: 120%;
  height: 25px;
}

.login form {
  float: left;
  display: block;
}

.login .links {
  float: left;
  text-align: center;
  border-left: #999 solid 1px;
  overflow: auto;
}

dl {
  overflow: auto;
}

dl dt {
	clear: left;
	float: left;
  width: 100px;
  text-align: right;
	margin: 0;
	padding: 5px;
}
dl dd {
	float: left;
	margin: 0;
	padding: 5px;
}

.flash a {
  float: right;
}

.flash p {
  float: left;
}

.status {
  float: right;
}

