<% javascript 'activations', 'rails' %>

<table id='activations'>	
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Action</th>
		<th>Admin</th>
	</tr>

	<% if @pending.size > 0 %>
		<tbody id='pending'>
			<tr><td colspan='5' class='header'>Pending</td></tr>
			<% @pending.each do |user| %>
				<%= render 'pending', :user => user if user.id != current_user.id %>
			<% end %>
		</tbody>
	<% end %>

	<tbody id='activated'>
		<tr><td colspan='5' class='header'>Activated</td></tr>
		<% @activated.each do |user| %>
			<%= render 'activated', :user => user if user.id != current_user.id %>
		<% end %>
	</tbody>

	<tbody id='confirmed'>
		<tr><td colspan='5' class='header'>Confirmed</td></tr>
		<% @confirmed.each do |user| %>
			<%= render 'confirmed', :user => user if user.id != current_user.id %>
		<% end %>
	</tbody>

</table>
