<h1>Pending Confirmation</h1>

<p>
  Your account is now pending confirmation. Administrators of this website have been notified of your request and should
  handle it soon.
</p>
<p>
  You will receive and email once your account has been confirmed.
</p>
