@import "compass/css3";

body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  height: 100%;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 900px;
  margin: 0 auto;
  background-color: #FFF;
  border: solid 3px black;
  margin-top: 20px;
  overflow: auto;
}

.flash {
  padding: 5px 8px;
  margin: 10px 0;

  a {
    float: right;
  }

  p {
    float: left;
    margin: 0;
  }
}

.status {
  float: right;
}

#flash_notice, .notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

.notice, .alert, .error {
  padding: 2px 5px;
  margin: 0;
}

#flash_error, .error, .alert, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

.song, .comment {
  clear: both;
  height: 190px;
  border: 3px solid #ccc;
  -webkit-border-radius: 20px;
  -mozilla-border-radius: 20px;
  position: relative;
}

.song div, .comment div {
  float: left;
  margin: 10px;
}

.song .links, .comment .links {
  float: right;
  text-align: right;
  width: 150px;
}

.song .content, .comment .content {
  width: 400px;
}

.song .ratings {
  float: left;
  overflow: auto;
  width: 65px;
  margin: 10px 0 0 0;

  .rating {
    float: left;
    margin: 0;
    padding: 3px;

    width: 23px;
    border: 1px solid black;
  }

  ul {
    list-style: none;
    float: left;
    width: 20px;
    padding: 0;
    margin: 0 auto;
  }

  li {
    margin: 0;
    display: block;
    font-size: 10px;
    @include border-radius(10px);
    border: 1px solid black;
  }

  ul.user li.selected {
    background: blue;
  }

  ul.overall li.selected {
    background: green;
  }

  .score {
    text-align: center;
    display: inline-block;
    width: 100%;
  }
}

.song .add {
  position: absolute;
}

.song .add ul {
  position: absolute;
  top: 0;
  opacity: 0;
  left: -999px;
  list-style: none;
  background: #ccc;
  padding: 0;
  width: 170px;
  border: 1px solid black;
  border-bottom: 0px;
  z-index: 10;

  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
}

.song .add:hover ul {
  opacity: 1;
  left: 0;
}

.song .add ul li {
  display: block;
  border-bottom: 1px solid black;
}

.song .add ul li:hover {
  background: #aaa;
}

.song .add ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  width: 100%;
}

.search {
  overflow: auto;
}

.search div {
  float: left;
}

.search form div {
  float: right;
}

.search input[type=text] {
  font-size: 150%;
  width: 300px;
}

input[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
  padding: 0 8px;
  border: 1px solid #999;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background-image: -moz-linear-gradient(-90deg, #fff, #ddd);
  font-size: 150%;
  height: 30px;
  margin: 0.5em;
}

input[type=submit]:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ddd));
  background-image: -moz-linear-gradient(-90deg, #ccc, #ddd);
}

#search fieldset {
  overflow: auto;
  border: 5px solid #ccc;
  -webkit-border-radius: 20px;
  -mozilla-border-radius: 20px;
}

#search fieldset .nick {
  width: 100px;
  padding-right: 10px;
}

#search .size {
  font-weight: bold;
  width: 100px;
}

#search input[type=submit] {
  font-size: 100%;
  margin: 0 10px 0 0;
  height: 20px;
}

#search .submit {
  width: 90px;
  text-align: center;
}

#search fieldset div {
  float: left;
}

#container {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

footer {
  text-align: center;
  height: 20px;
  padding: 10px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
  background-image: -moz-linear-gradient(-90deg, #fff, #ccc);
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;

}

section#content {
  margin: 20px;
  overflow: auto;
}

header {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#FFFCFD), color-stop(0,#ccc),color-stop(.7,#CCCCCC));
  background-image: -moz-linear-gradient(-90deg, #ccc, #ccc 70%, #fff);

  -webkit-border-top-right-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-topleft: 20px;

  overflow: auto;
  height: 40px;
  padding: 0 10px 0 0;
}

dl {
  overflow: auto;
}

dl dt {
  clear: left;
  float: left;
  width: 100px;
  text-align: right;
  margin: 0;
  padding: 5px;
}

dl dd {
  float: left;
  margin: 0;
  padding: 5px;
}

#search-holder {
  text-align: center;
}

tr td.header {background:#066;color:#fff;padding-left:5px;font-weight:bold;}

#memberships #q {
  font-size: 150%;
  width: 300px;
}

ul.block {
  list-style: none;
  margin-left: 10px;
  float: left;
  width: 90%;
  overflow: auto;
  border-bottom: 1px solid black;
  padding: 0;
}

ul.block > li {
  overflow: auto;
  border: 1px solid black;
  border-bottom: 0;
}

ul.block > li .content {
  margin: 0;
  text-decoration: none;
  color: inherit;
  display: block;
  overflow: auto;
/*  width: 80%;*/
  width: 100%;
  float: left;
}

ul.block > li {
  position: relative;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.2s linear;
}

ul.block > li .links {
  display: block;
  position: absolute;;
  bottom: 5px;
  right: 5px;
}

ul.block > li:hover {
  background: #bbb;

}

ul.block > li.all > a {
  height: 45px;
  text-align: center;
  font-weight: bold;
  font-size: 130%;
  padding-top: 15px;
}

ul.column {
  width: 45%;
}

li.album img {
  margin: 0;
  display: block;
  float: left;
}

li.album .name {
  font-weight: bold;
}

li.album .artist {
  color: #666;
  font-style: italic;
}

li.artist  {
  padding: 6px;
  font-weight: bold;
  font-size: 130%;
}

.inline-edit .form {
  display: none;
}

.inline-edit form input[type=submit] {
  font-size: 100%;
  height: 23px;
}

.inline-edit form dl dt, .inline-edit form dl dd {
  padding: 0px;
  padding-left: 5px;
}

.inline-edit form .cancel {
  display:none;
}

/* Flickr style pagination */
.pagination {
  text-align: center;
  padding: .3em;
  margin-bottom:.5em;
  clear: both;}
  .pagination a, .pagination span {
    padding: .2em .5em; }
  .pagination span.disabled {
    color: #AAA; }
  .pagination span.current {
    font-weight: bold;
    color: #FF0084; }
  .pagination a {
    border: 1px solid #DDDDDD;
    color: #0063DC;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      border-color: #003366;
      background: #0063DC;
      color: white; }
  .pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  .pagination .prev_page, .pagination .next_page {
    border-width: 2px; }
  .pagination .prev_page {
    margin-right: 1em; }
  .pagination .next_page {
    margin-left: 1em; }
