<li class='result'>
  <div class='size'><%= humanize_bytes(size) %></div>
  <div class='download'><a href='#'>Download</a></div>
  <div class='nick'><%= nick %></div>
  <div class='file'><%= file %></div>
  <a class='more' href='#'></a>
  <ul class='coalesced'></ul>
</li>
