<% title "Song" %>

<%= render @song %>

<p>
	<%= link_to "Edit", edit_song_path(@song) if can? :update, @song %> |
	<%= link_to "Destroy", @song, :confirm => 'Are you sure?', :method => :delete if can? :destroy, @song %> |
  <%= link_to "View All", songs_path %>
</p>
