<%= render 'alphabet', :url => albums_path %>

<%= paginate @albums %>
<div style='overflow:auto'>
  <% @albums.halves.each do |arr| %>
    <ul class='column block'><%= render arr %></ul>
  <% end %>
</div>
<%= paginate @albums %>
