//= require jquery-ui

$.ajaxSetup({error: error});

function error() {
  $('.ui-dialog-content').dialog('close');
  $('img.loading').remove();
  $('<p>Server Error... Please Try later</p>').dialog({
    modal:true,
    close: function() {
      $('.ui-dialog').remove();
    }
  });
}

$['small-ajax'] = $('<img>', {class:'loading', src:"<%= asset_path 'ajax-small.gif' %>"});
$['big-ajax'] = $('<img>', {class:'loading', src:"<%= asset_path 'ajax-big.gif' %>"});
$['hug-ajax'] = $('<img>', {class:'loading', src:"<%= asset_path 'ajax-huge.gif' %>"});
