<h1>Playlists</h1>

<% paginated_section @playlists do %>
	<table>
	  <tr>
	    <th>Name</th>
	  </tr>
	  <% for playlist in @playlists %>
	    <tr>
	      <td><%= link_to playlist.name, playlist %></td>
	      <td>
					<% if can? :manage, playlist %>
		      	<%= link_to "Edit", edit_playlist_path(playlist) %>
		      	<%= link_to "Destroy", playlist, :confirm => 'Are you sure?', :method => :delete %>
					<% end %>
				</td>
	    </tr>
	  <% end %>
	</table>
<% end %>


<p><%= link_to "New Playlist", new_playlist_path if can? :create, Playlist %></p>
