<h1>Searching Fargo</h1>

<div class='search' id='fargo-search'>
	<% form_tag({:controller => 'fargo/search', :action => 'index'}, :method => :get) do %>
		<p>
			<%= text_field_tag :q, params[:q], :placeholder => 'Search query' %>
			<%= submit_tag 'Submit' %>
		</p>
	<% end %>
</div>
<div id='search-response' class='hide'></div>
<div id='search-holder' class='hide'>
	<p>Searching for: <span id='query'></span></p>
	<%= image_tag 'ajax-huge.gif'%>
</div>
