<% javascript 'helpers' %>

<h1>Playlists</h1>

<% unless radio_connected? %>
	<div id='flash_error'>
		The radio is disconnected, the links below won't do anything.
		You may, however, <%= link_to 'connect it', :controller => 'radio/commands', :action => 'connect' %>.
	</div>
<% end %>
<table id='radio-status'>
	<tr>
		<th>Name</th>
		<th>On Radio?</th>
		<th>Current Song</th>
		<th>Actions</th>
	</tr>
	<% @playlists.each do |playlist| %>
		<%= render 'radio/status/playlist', :playlist => playlist %>
	<% end %>
</table>
